<% provide(:title, "Accessories") %>

<div  class="container-fluid yt" style="padding:0">
  <div class= "youtubeBox">
  </div>
    <iframe id="ytplayer"
      src="https://www.youtube.com/embed/HereF6ee0Fc?autoplay=1&loop=1&list=PL1Qm-Ugsa8xXAy1G0tUQZWH0lsPDruDNN&controls=0&modestbranding=1&showinfo=0&autohide=1&disablekb=1&rel=0&index=4"
      frameborder="0" allowfullscreen>
      </iframe>
       <%= image_tag("Accessories/AccessoriesLogo.png", class: "AccessLogo")%>
     </div>

  <%= render 'shared/navbar' %>
  <div class="mobilePicContainer" class="container-fluid" style="padding:0">
    <%= image_tag("Mobile/AccessoriesPage", class: "topPic") %>
  </div>
<div class="container-fluid headerContain fix-contain">
  <%= render 'shared/flash' %>
  <!-- row 1 -->
  <div class="row whiteRow">
    <div class="col-md-3">
      <%= image_tag('Accessories/bell.jpg', alt:"Bicycle bell", class: "partsPic") %>
    </div>
    <div class="col-md-3">
      <%= image_tag('Accessories/bottle cage.JPG', alt:"Bottle cage", class: "partsPic") %>
    </div>
    <div class="col-md-3">
      <%= image_tag('Accessories/repairKit.JPG', alt:"repairKit", class: "partsPic") %>
    </div>
    <div class="col-md-3">
      <%= image_tag('Accessories/handlebar tape.JPG', alt:"Handlebar tape", class: "partsPic") %>
    </div>
  </div>
  <!-- row 2 -->
  <div class="row whiteRow">
    <div class="col-md-3">
      <%= image_tag('Accessories/locks.JPG', alt:"Lock", class: "partsPic") %>
    </div>
    <div class="col-md-3">
      <%= image_tag('Accessories/pegs1.JPG', alt:"Pegs", class: "partsPic") %>
    </div>
    <div class="col-md-3">
      <%= image_tag('Accessories/tail light.JPG', alt:"Tail light", class: "partsPic") %>
    </div>
    <div class="col-md-3">
      <!-- <%= image_tag('Accessories/waterBottle.JPG', alt:"water Bottle", class: "partsPic") %> -->
    </div>
  </div>
  <!-- row 3 -->
  <!-- <div class="row whiteRow">
    <div class="col-md-3">

    </div> -->
</div>
