<% provide(:title, "Shop") %>

<div  class="container-fluid yt" style="padding:0">
  <div class="titleBox">
    <%= image_tag("Featured/FeaturedTitle.png", class:"featuredTitle")%>
  </div>
  <div class= "youtubeBox">
  </div>
    <iframe id="ytplayer"
      src="https://www.youtube.com/embed/HereF6ee0Fc?autoplay=1&loop=1&list=PL1Qm-Ugsa8xXAy1G0tUQZWH0lsPDruDNN&controls=0&modestbranding=1&showinfo=0&autohide=1&disablekb=1&rel=0&index=3"
      frameborder="0" allowfullscreen>
      </iframe>

     </div>

  <%= render 'shared/navbar' %>
  <div class="mobilePicContainer" class="container-fluid" style="padding:0">
    <%= image_tag("Mobile/FeaturedPage", class: "topPic") %>
  </div>
<div class="container-fluid">
  <%= render 'shared/flash' %>
  <div class="row">
    <div class="col-md-6 zoomIn">
      <%= image_tag('Featured/featured1.JPG', alt:"Top ten bicycle", id:"1", class:'featuredPic') %>
      <div class="caption"><strong>Learn More</strong></div>
      <div class="bicycleInfo" id="info1">
        <p>Schwinn Mountain Bike</p>
        <p>[Specs of bicycle]</p>
        <p>[price]</p>

      </div>
    </div>

    <div class="col-md-6 zoomIn">
     <%= image_tag('Featured/featured2.JPG', alt:"Top ten bicycle", id:"2",class:'featuredPic') %>
     <div class="caption"><strong>Learn More</strong></div>
      <div class="bicycleInfo" id="info2">
        <p>Mongoose Mountain Bike</p>
        <p>[Specs of bicycle]</p>
        <p>[price]</p>

      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-6 zoomIn">
      <%= image_tag('Featured/featured3.JPG', alt:"Top ten bicycle", id:"3",class:'featuredPic') %>
      <div class="caption"><strong>Learn More</strong></div>
      <div class="bicycleInfo" id="info3">
        <p>Mongoose Beach Bike</p>
        <p>[Specs of bicycle]</p>
        <p>[price]</p>
      </div>
    </div>

    <div class="col-md-6 zoomIn">
      <%= image_tag('Featured/featured4.JPG', alt:"Top ten bicycle", id:"4",class:'featuredPic') %>
      <div class="caption"><strong>Learn More</strong></div>
      <div class="bicycleInfo" id="info4">
        <p>Mongoose Fat Tire Bike</p>
        <p>[Specs of bicycle]</p>
        <p>[price]</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 zoomIn">
      <%= image_tag('Featured/featured5.JPG', alt:"Top ten bicycle", id:"5",class:'featuredPic') %>
      <div class="caption"><strong>Learn More</strong></div>
      <div class="bicycleInfo" id="info5">
      <p>Mongoose Fat Tire Bike</p>
      <p>[Specs of bicycle]</p>
      <p>[price]</p>
    </div>
    </div>

    <div class="col-md-6 zoomIn">
      <%= image_tag('Featured/featured6.JPG', alt:"Top ten bicycle", id:"6",class:'featuredPic') %>
      <div class="caption"><strong>Learn More</strong></div>
      <div class="bicycleInfo" id="info6">
        <p>Monterey Adult Tricycle</p>
        <p>[Specs of bicycle]</p>
        <p>[price]</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 zoomIn">
      <%= image_tag('Featured/featured7.JPG', alt:"Top ten bicycle", id:"7",class:'featuredPic') %>
      <div class="caption"><strong>Learn More</strong></div>
      <div class="bicycleInfo" id="info7">
      <p>Schwinn City Bike</p>
      <p>[Specs of bicycle]</p>
      <p>[price]</p>
    </div>
    </div>
    <div class="col-md-6 zoomIn">
      <%= image_tag('Featured/featured8.JPG', alt:"Top ten bicycle", id:"8",class:'featuredPic') %>
      <div class="caption"><strong>Learn More</strong></div>
      <div class="bicycleInfo" id="info8">
      <p>Mongoose Fat Tire Bike</p>
      <p>[Specs of bicycle]</p>
      <p>[price]</p>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 zoomIn">
      <%= image_tag('Featured/featured9.JPG', alt:"Top ten bicycle", id:"9",class:'featuredPic') %>
      <div class="caption"><strong>Learn More</strong></div>
      <div class="bicycleInfo" id="info9">
      <p>Hyperbikeco BMX</p>
      <p>[Specs of bicycle]</p>
      <p>[price]</p>
    </div>
    </div>
    <div class="col-md-6 zoomIn">
      <%= image_tag('Featured/featured10.JPG', alt:"Top ten bicycle", id:"10",class:'featuredPic') %>
      <div class="caption"><strong>Learn More</strong></div>
      <div class="bicycleInfo" id="info10">
      <p>Mongoose Fat Tire Bike</p>
      <p>[Specs of bicycle]</p>
      <p>[price]</p>
      </div>
    </div>
  </div>
</div>
 <div id="myModal3" class="modal3">
   <span id="closeModalShop">&times;</span>
      <%= image_tag("", id:"shopModalImg") %>
      <div id="infoBox"></div>
  </div>
