<% provide(:title, "Parts") %>

<div  class="container-fluid yt" style="padding:0">
  <div class= "youtubeBox">
  </div>
    <iframe id="ytplayer"
      src="https://www.youtube.com/embed/HereF6ee0Fc?autoplay=1&loop=1&list=PL1Qm-Ugsa8xXAy1G0tUQZWH0lsPDruDNN&controls=0&modestbranding=1&showinfo=0&autohide=1&disablekb=1&rel=0&index=2"
      frameborder="0" allowfullscreen>
      </iframe>
       <%= image_tag("Parts/PartsLogo", class: "PartsLogo")%>
     </div>

  <%= render 'shared/navbar' %>
  <div class="mobilePicContainer" class="container-fluid" style="padding:0">
    <%= image_tag("Mobile/PartsPage", class: "topPic") %>
  </div>
<div class="container-fluid headerContain fix-contain">
  <%= render 'shared/flash' %>
  <!-- row 1 -->
  <div class="row">
    <div class="col-md-3">
      <%= image_tag('Parts/bicycleRims1.JPG', alt:"Bicycle Rim", class: "partsPic") %>
    </div>
    <div class="col-md-3">
      <%= image_tag('Parts/bicycleTires1.JPG', alt:"Bicycle Tires", class: "partsPic") %>
    </div>
    <div class="col-md-3">
      <%= image_tag('Parts/bicycleTube2.JPG', alt:"Bicycle tubes", class: "partsPic") %>
    </div>
    <div class="col-md-3">
      <%= image_tag('Parts/BMX freewheel.JPG', alt:"BMX freewheel", class: "partsPic") %>
    </div>
  </div>
  <!-- row 2 -->
  <div class="row">
    <div class="col-md-3">
      <%= image_tag('Parts/brake pads.JPG', alt:"Brake pads", class: "partsPic") %>
    </div>
    <div class="col-md-3">
      <%= image_tag('Parts/brakeLevers.jpg', alt:"Brake levers", class: "partsPic") %>
    </div>
    <div class="col-md-3">
      <%= image_tag('Parts/chains1.JPG', alt:"Chain", class: "partsPic") %>
    </div>
    <div class="col-md-3">
      <%= image_tag('Parts/stem.JPG', alt:"Stem", class: "partsPic") %>
    </div>
  </div>
  <!-- row 3 -->
  <div class="row">
    <div class="col-md-3">
      <%= image_tag('Parts/seat.JPG', alt:"Seat", class: "partsPic") %>
    </div>
    <div class="col-md-3">
      <%= image_tag('Parts/freeWheel1.JPG', alt:"Free Wheel", class: "partsPic") %>
    </div>
    <div class="col-md-3 ">
      <%= image_tag('Parts/front derailleur.JPG', alt:"Front derailleur", class: "partsPic") %>
    </div>
    <div class="col-md-3 ">
      <%= image_tag('Parts/gear shifters.JPG', alt:"Gear Shifters", class: "partsPic") %>
    </div>
  </div>
  <!-- row 4 -->
  <div class="row">
    <div class="col-md-3 ">
      <%= image_tag('Parts/seatPost.jpg', alt:"Seat Post", class: "partsPic") %>
    </div>
    <div class="col-md-3">
      <%= image_tag('Parts/grips1.jpg', alt:"Grips", class: "partsPic") %>
    </div>
    <div class="col-md-3">
      <%= image_tag('Parts/petals1.JPG', alt:"Regular Petals", class: "partsPic") %>
    </div>
    <div class="col-md-3">
      <%= image_tag('Parts/rearDerailleur2.JPG', alt:"SunRace Rear Dearilleur", class: "partsPic") %>
    </div>
  </div>
</div>
