<% provide(:title, 'Reset password') %>
<%= render 'shared/navbar_no_yt' %>
<div class ="container-fluid fix-contain resetForm">
<h1>Password reset</h1>
<%= render 'shared/flash' %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= hidden_field_tag :email, @user.email %>

      <%= f.label :password do %>
        <%= f.password_field :password %>
        <div class="label-text">Password</div>
      <% end %>
      
      <%= f.label :password_confirmation do %>
        <%= f.password_field :password_confirmation %>
        <div class="label-text">Confirmation</div>
      <% end %>
      <%= f.submit "Update password", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
</div>