<% provide(:title, 'All users') %>

 <%= render 'shared/navbar_no_yt' %>
 <div class="container-fluid titleContain">
  <%= image_tag('Users/allUser.png', class:"userTitle") %>
</div>
<div class="container-fluid userContain">
   
<%= will_paginate %>
<ul class="users">
  <%= render @users %>
</ul>
<%= will_paginate %>
</div>
<%= render 'shared/footer' %>