<% provide(:title, @user.name) %>
 <%= render 'shared/navbar' %>
<div class="container-fluid showBody">

 <%= render 'shared/flash' %>
<div class="row ">
  <aside class="col-md-4">
    <section class="user_info">
      <h1 id="gravShow">
        <%= gravatar_for @user, size: 150 %>
        <%= @user.name %>
      </h1>
      </section>
  </aside>
  <div class="col-md-8">
     <%= image_tag('Users/Profile.png', alt:'profile title', class: 'profileTitle') %>

    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
      <% else %>
      <br>
     <%= image_tag('Users/noPost.png', alt:"no post", class:"noPost") %>
    <% end %>
  </div>
</div>
</div>
