<% provide(:title, @user.name) %>
 <%= render 'shared/navbar' %>
<div class="container-fluid showBody">

 <%= render 'shared/flash' %>
    <div class="user_info">
      <div id="gravShow">
        <%= gravatar_for @user, size: 300 %>
        <h1>
        <%= @user.name %>
      </h1>
      </div>
    </div>

<div class="mircopostsDiv">

    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
      <% else %>
      <br>
     <%= image_tag('Users/noPost.png', alt:"no post", class:"noPost") %>
    <% end %>
  </div>
</div>
