<%= form_for(@user, url: @path) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name do%>

        <%= f.text_field :name  %>
        <div class="label-text">Name</div>

      <% end %>

      <%= f.label :email do%>

        <%= f.email_field :email  %>
        <div class="label-text">Email</div>
      <% end %>

      <%= f.label :password do%>

        <%= f.password_field  :password  %>
        <div class="label-text">Password</div>
      <% end %>



      <%= f.label :password_confirmation, "Confirmation" do%>

        <%= f.password_field  :password_confirmation %>
        <div class="label-text">Confirmation</div>
      <% end %>
      
      <%= f.submit yield(:button_text), class:"sumbit" %>

    <% end %>
