<div id="wrapper">
      <div class="overlay"></div>
      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
          <ul class="nav sidebar-nav" id="sideNav">
              <li class="sidebar-brand">
                  <a href="/">
                     <%= image_tag("Home/shortLogo.png", alt: "BikeProShop logo", id:"sidebarLogo") %>
                  </a>
              </li>
              <li>
                  <a href="/"><i class="fa fa-fw fa-home"></i> Home</a>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown"><i class="fas fa-shopping-cart"></i> Shop<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li class="dropdown-header ">Shop</li>
                  <li id="sideFeatured"><%= link_to "Featured Bicycles", featured_path %></li>
                  <li id="sideParts"><%= link_to "Bicycle Parts", parts_path %></li>
                  <li id="sideAccessories"><%= link_to "Bicycle Accessories", accessories_path %></li>
                </ul>
              </li>
              <li>
                  <a href="/repair"><i class="fas fa-wrench"></i> Repair</a>
              </li>
              <li>
                  <a href="/gallery"><i class="fas fa-images"></i> Gallery</a>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown"><i class="fas fa-info-circle"></i> Infomation<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li class="dropdown-header ">Information</li>
                  <li id="sideMechanic"><a href="/#mechanicBody">Meet The Mechanic</a></li>
                  <li id="sideContact"><a href="/#contactUs"> Contact Us</a></li>
                  <li id="sideLocation"><a href="/#contactUs"> Store Location</a></li>
                  <li id="sideFacebook"><a href="https://www.facebook.com/bikeproshop864/"> Like us on Facebook</a></li>
                </ul>
              </li>
              <% if logged_in? %>
              <li><a href="/users"><i class="fas fa-users"></i> Users</a></li>
              <li><a href="/mircoposts"><i class="fas fa-comments"></i> Blog</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                 <i class="fas fa-cogs"></i> Account<span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li class="dropdown-header ">Account</li>
                  <li id="sideProfile"><%= link_to "Profile", current_user %></li>
                  <li id="sideSetting"><%= link_to "Settings", edit_user_path(current_user) %></li>
                  <li id="sideLogOut"><%= link_to "Log Out", logout_path, method: "delete" %></li>
                </ul>
              </li>
              <% else %>
              <li>
                  <a href="/new"><i class="fas fa-user"></i> Sign Up</a>
              </li>
              <li id="sideLogin">
                  <a><i class="fas fa-sign-in-alt"></i>  Login</a>
              </li>
              <% end %>
          </ul>
      </nav>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
        <div id="hamburgerButton">
        <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
          <span class="hamb-top"></span>
          <span class="hamb-middle"></span>
          <span class="hamb-bottom"></span>
        </button>
      </div>
        <!-- content here -->
        <%= yield %>
      </div>
      <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->
