    <% provide(:title, "Home") %>

  <div id="top" class="container-fluid" style="padding:0">
    <div class= "youtubeBox">
    </div>
    <iframe id="ytplayer"
      src="https://www.youtube.com/embed/HereF6ee0Fc?autoplay=1&loop=1&list=PL1Qm-Ugsa8xXAy1G0tUQZWH0lsPDruDNN&controls=0&modestbranding=1&showinfo=0&autohide=1&disablekb=1&rel=0&"
      frameborder="0" allowfullscreen>
      </iframe>
       <div class="logo2"></div>
       <div class="logo1"></div>
    </div>

    <%= render 'shared/navbarTrans' %>
      <!--tune up section -->

      <div class="container-fluid headerContain">
        <%= render 'shared/flash' %>
             <%= image_tag("Home/tuneUpHeader.png", class: "Header")%>


        <div id="tuneInfo">

            <!-- a animation of someone giving the bike to the mechanic -->
            <%= image_tag("Home/customer.png", class: "customer")%>
            <%= image_tag("Home/bicycle.png",  class: "cust_bicycle") %>
            <%= image_tag("Home/mechanic.png", class: "mechanic") %>

          <p>Tell us your problems and we'll do the rest!
              If the repair isn't too severe you can walk around the Flea market and pick up your bicyle after you're done!
              Since we are at the flea market you won't find a better price anywhere else!<br><br>
                Want to learn more?</p>
          <div id ="clickMe">
            <div class="cont">
                <a href="/repair"> Click Here</a>
                <svg id="fancyBtn" height="40" width="120">
                  <% (1..120).each do |i| %>
                    <line id="line" x1=<%=i%> y1="0" x2=<%=i%> y2="40"/>
                  <% end %>
                </svg>
            </div>
          </div>
 </div>
        <!-- have a gear picture rotating when hovered here -->

      </div> <!-- container-fluid end -->

      <!-- parallax pictures -->
      <div class="container-fluid fix-contain">
        <div id="window1" class="row"></div>
        <div id="window2" class="row"></div>
        <div id="window3" class="row"></div>
        <div id="window4" class="row"></div>
      </div>


      <div id="mechanicBody"class="container-fluid headerContain">
        <%= image_tag('Home/mechanicHeader.png', alt: 'mechanic header', class:'Header') %>
        <div class="row">
          <div class="mechanicInfo">
          <div class="col-md-6">
          <p>Meet the mechanic, Miguel Espina. He has 30+ experience in repairing
            and selling bicycles. Originally from Chile, Miguel moved to Miami in
            1985 to live the American Dream. From then, along with his two brothers,
            he began to learn his trade. In [date] he opened his first shop at [address]
            and began his dream. </p>
            </div>
            <div class="col-md-6">
              <%= image_tag('Home/oldpicture2.jpg', alt: 'old shop', class:'oldPic') %>
            </div>

          </div>
          </div>
          <div class="row">
            <div class="mechanicInfo">
            <div class="col-md-6">
              <%= image_tag('Home/oldPicture1.jpg', alt: 'old shop', class:'oldPic') %>
              </div>
              <div class="col-md-6">
	        <p>Miguel loved building bicycles for people especially his two loving kids
            because he knows one thing: what better way to be healthy then by doing it
            together with your family? </P>
          </div>
        </div>
        </div>
      </div>
      <div id="contactUs" class="container-fluid headerContain">
        <%= image_tag("Home/contactHeader.png", alt:"contact header", class:"Header") %>
        <br><br>
        <div class ="row">
          <div class="col-md-6">

          <%= image_tag("Home/address.png", alt:"address header", class:"addressHeader") %>
          <div class="address">
            <p> Barnyard Flea Market Greer</p>
            <p>2000 SC-101, Greer, SC 29651</p>
            <p> Look for <u>BikeProShop864</u> at <u>J51</u> & <u>J52</u></p>
          </div>

        <%= image_tag("Home/contact.png", alt:"contact header", class:"contactHeader") %>

        <div id ="phone">
          <p>Phone: (864) 285-8181</p>
        </div>
        <div id="email">
          <p>Email: bikeproshop@gmail.com</p>
        </div>
        <div id="line">
        </div>
          </div>
      <div class="col-md-6">
      <div id="map"></div>
    </div>
    </div>
    </div>


  <%= render 'shared/footer' %>

 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_Zu6BWfCvXHlP9HYcX0IeueqdToRVKRk&callback=myMap"></script>
