<% provide(:title, "Gallery") %>
<div  class="container-fluid" style="padding:0">
    <iframe id="ytplayer"
      src="https://www.youtube.com/embed/HereF6ee0Fc?autoplay=1&loop=1&list=PL1Qm-Ugsa8xXAy1G0tUQZWH0lsPDruDNN&controls=0&modestbranding=1&showinfo=0&autohide=1&disablekb=1&rel=0&index=2"
      frameborder="0" allowfullscreen>
      </iframe>
       <div class="logo2"></div>
       <div class="logo1"></div> 
     </div>

 <%= render 'shared/navbar' %>
   
<div class="container-fluid fix-contain" id="galleryBody">
  <div class ="row">
    <%= image_tag "Gallery/galleryTitle.png", alt:"gallery title", class:"galleryTitle"  %>
  </div>
  <div class="row" style="margin: 0">
    <div class="col-md-3">
      <%= image_tag("Gallery/accounting.JPG", alt:"accounting", id:"1", class:"galleryImage") %>
    </div>
    <div class="col-md-3">
      <%= image_tag("Gallery/bicycle1.JPG", alt:"bicycle", id:"2",class:"galleryImage") %>
    </div>
    <div class="col-md-3">
      <%= image_tag("Gallery/bicycle2.JPG", alt:"bicycle", id:"3", class:"galleryImage") %>
    </div>
    <div class="col-md-3">
      <%= image_tag("Gallery/bicycleRim2.JPG", alt:"bicycle rims", id:"4", class:"galleryImage") %>
    </div>
  </div>
  <div class="row" style="margin: 0">
    <div class="col-md-3 galleryModal">
      <%= image_tag("Gallery/gallery1.JPG", alt:"red bicycle", id:"5", class:"galleryImage") %>
    </div>
    <div class="col-md-3 galleryModal">
      <%= image_tag("Gallery/gallery2.JPG", alt:"a line up of bicycles", id:"6", class:"galleryImage") %>
    </div>
    <div class="col-md-3 galleryModal">
      <%= image_tag("Gallery/gallery3.JPG", alt:"a line up of bicycles", id:"7", class:"galleryImage") %>
    </div>
    <div class="col-md-3 galleryModal">
      <%= image_tag("Gallery/gallery4.JPG", alt:"a line up of bicycles", id:"8",class:"galleryImage") %>
    </div>
  </div>

  <div class="row" style="margin: 0">
    <div class="col-md-3">
      <%= image_tag("Gallery/gallery5.JPG", alt:"wall of kids bicycles", id:"9",class:"galleryImage") %>
    </div>
    <div class="col-md-3">
      <%= image_tag("Gallery/gallery6.JPG", alt:"line up of bicycles", id:"10",class:"galleryImage") %>
    </div>
    <div class="col-md-3">
      <%= image_tag("Gallery/gallery7.JPG", alt:"bicycle on stand", id:"11",class:"galleryImage") %>
    </div>
    <div class="col-md-3">
      <%= image_tag("Gallery/gallery8.JPG", alt:"bicycle finishing getting repaired", id:"12",class:"galleryImage") %>
    </div>
  </div>
  <div class="row" style="margin: 0">
    <div class="col-md-3">
      <%= image_tag("Gallery/gallery9.JPG", alt:"wall of kids bicycles", id:"13",class:"galleryImage") %>
    </div>
    <div class="col-md-3">
      <%= image_tag("Gallery/store2.JPG", alt:"the store from inside", id:"14",class:"galleryImage") %>
    </div>
    <div class="col-md-3">
      <%= image_tag("Gallery/galleryHeader.JPG", alt:"fat tire kid bicycle", id:"15",class:"galleryImage") %>
    </div>
    <div class="col-md-3">
      <%= image_tag("Gallery/headerBike1.JPG", alt:"a red bicycle", id:"16",class:"galleryImage") %>
    </div>
  </div>
  <div class="row" style="margin: 0">
    <div class="col-md-3">
      <%= image_tag("Gallery/inventory1.JPG", alt:"line up of bicycles", id:"17",class:"galleryImage") %>
    </div>
    <div class="col-md-3">
      <%= image_tag("Gallery/itemRack1.JPG", alt:"item rack", id:"18",class:"galleryImage") %>
    </div>
    <div class="col-md-3">
      <%= image_tag("Gallery/paintCans.JPG", alt:"paint cans", id:"19",class:"galleryImage") %>
    </div>
    <div class="col-md-3">
      <%= image_tag("Gallery/repair2.JPG", alt:"mechanic repairing", id:"20",class:"galleryImage") %>
    </div>
    </div>
  <div class="row" style="margin: 0">
    <div class="col-md-3">
      <%= image_tag("Gallery/repair5.JPG", alt:"mechanic repairing", id:"21",class:"galleryImage") %>
    </div>
    <div class="col-md-3">
      <%= image_tag("Gallery/repair8.JPG", alt:"mechanic repairing", id:"22",class:"galleryImage") %>
    </div>
    <div class="col-md-3">
      <%= image_tag("Gallery/showcase.JPG", alt:"glass table showcasing parts", id:"23",class:"galleryImage") %>
    </div>
    <div class="col-md-3">
      <%= image_tag("Gallery/smallParts.JPG", alt:"small parts", id:"24",class:"galleryImage") %>
    </div>
    </div>
  <div class="row" style="margin: 0">
    <div class="col-md-3">
      <%= image_tag("Gallery/store3.JPG", alt:"the store", id:"25",class:"galleryImage") %>
    </div>
    <div class="col-md-3">
      <%= image_tag("Gallery/tools1.JPG", alt:"mechanic's tools", id:"26",class:"galleryImage") %>
    </div>
    <div class="col-md-3">
      <%= image_tag("Gallery/tools5.JPG", alt:"bench grinder", id:"27",class:"galleryImage") %>
    </div>
    <div class="col-md-3">
      <%= image_tag("Gallery/tuneUp1.JPG", alt:"repair bicycle for customers", id:"28",class:"galleryImage") %>
    </div>
    </div>
    
    <div id="myModal" class="modal">
     
      <%= image_tag("", id:"modalImg") %>
    </div>
</div>

