<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 150), micropost.user, id:"gravFeed"%>
  <span class="user"><%= link_to micropost.user.name, micropost.user, id:"gravName"%></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.picture.url if micropost.picture? %>
    </span>

  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
      <% if current_user?(micropost.user) %>
      
      <button id="deleteBtn">
      <div class="icon">
        <i class="fa fa-trash-o"></i>
        <i class="fa fa-question"></i>
        <i class="fa fa-check"></i>
      </div>
      <div class="text">
        <span id="spanDelete">Delete</span>
      </div>
    </button>
</span>
      <div style="display: none">
      <%= link_to "delete", micropost, method: :delete, id:"linkDelete"%>
      </div>
    <% end %>
</li>