<!DOCTYPE html>
<!-- lang="en" specify the language to be english -->
<html lang="en">
<head>
  <title><%= yield(:title) %> | BikeProShop</title>
  
  <%= favicon_link_tag 'favicon.ico' %>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <%= csrf_meta_tag %>
</head>
<body>
  <%= render 'shared/login_error' %> 
<%= yield %>
<%= debug(params) if Rails.env.development? %>
  
    <!-- The Modal -->
  <div id="myModal2" class="modal">
  
  <!-- Modal content -->
  <div class="modal-content">
    
  <%= form_for :session, url: index_path, :html =>{ id: "loginForm" } do %>
  <div id="logintop">
    <!-- The Close Button -->
  <span class="close" onclick="document.getElementById('myModal2').style.display='none'">&times;</span>
    <%= image_tag("Home/LogoPart1.png", alt:"logo", class:"loginImg1") %>
  </div>
  <input class="input" id="session_email" placeholder="Email"
         name="session[email]" type="text" required=""/>

  <input class="input" id="session_password" name="session[password]" placeholder="Password"
         type="password" required=""/>
  
  <button id="loginSumbit">Submit</button>
  <p id="newUser">New user? <a href="/new">Create an account</a></p>
  <% end %>
  
  
  </div>

</div>
</body>
</html>
