<!DOCTYPE html>
<!-- lang="en" specify the language to be english -->
<html lang="en">
<head>
  <title><%= yield(:title) %> | BikeProShop</title>
  
  <%= favicon_link_tag 'favicon.ico' %>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <%= csrf_meta_tag %>
</head>
<body>
  <%= render 'shared/login_error' %> 
  <%= yield %>
  <%= render 'shared/login_modal'%>
  <%= render 'shared/footer' %>
</body>
</html>
